doctrine:
    dbal:
        url: "%env(resolve:DATABASE_URL)%"
        server_version: "18"
        profiling_collect_backtrace: "%kernel.debug%"

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: "_test%env(default::TEST_TOKEN)%"
