@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }

  html {
    overscroll-behavior: none;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
