@layer components {
  .maplibregl-map {
    .maplibregl-interactive {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    [mapboxgl-children] {
      display: none;
    }
  }
}
