@layer components {
  .maplibregl-map {
    .maplibregl-interactive {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    [mapboxgl-children] {
      display: none;
    }
  }

  .time-brush {
    .time-axis {
      .domain {
        stroke: none;
      }

      .tick line {
        stroke: var(--color-neutral-400);
      }

      .tick text {
        fill: var(--color-neutral-400);
        font-size: 0.75rem;
      }
    }

    .brush {
      .overlay {
        fill: var(--color-background);
        fill-opacity: 0.25;
        stroke: var(--color-neutral-800);
        transform: scaleX(2);
        transform-origin: center;
      }

      &:focus .overlay {
        stroke: var(--color-neutral-700);
        stroke-width: 1.5;
      }

      .selection {
        fill: var(--timebrush-color);
        fill-opacity: 0.15;
        stroke: var(--timebrush-color);

        stroke-opacity: 0.5;
        cursor: move;
        rx: 8px;
      }

      .handle {
        fill: var(--timebrush-color);
        /* Transparent stroke to extend hit area */
        stroke: transparent;
        /* Adds ~12px to total interactive height */
        stroke-width: 4px;
        /* Visually reduce height */
        transform: scaleY(0.5);
        transform-origin: center;
        cursor: ew-resize;
        rx: 2px;
      }

      .handle-line {
        stroke: oklch(0% 0 0 / 0.25);
        stroke-width: 2;
        stroke-linecap: round;
        pointer-events: none;
      }
    }
  }
}
