@layer components {
  .maplibregl-map {
    .maplibregl-interactive {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    [mapboxgl-children] {
      display: none;
    }
  }

  .card {
    border: 1px solid theme('colors.neutral.700');
    border-radius: theme('borderRadius.md');
    corner-shape: squircle;
  }
}
