@layer components {
  /* MapLibre GL overrides */
  [mapboxgl-children] {
    display: none;
  }

  .card {
    border: 1px solid theme('colors.neutral.700');
    border-radius: theme('borderRadius.sm');
    overflow: hidden;
  }
}
