APP_ENV=prod
APP_DEBUG=false
APP_SECRET=secret # Change me in production (openssl rand -hex 16)
DEFAULT_URI=http://localhost:8080
CORS_ALLOW_ORIGIN=^https?://localhost(:5173)?$
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database/${POSTGRES_DB}?serverVersion=18&charset=utf8
